[Unit]
Description=etcd
Documentation=https://github.com/coreos

{% set IP = ETCD_NODES | intersect(ansible_all_ipv4_addresses) %}

[Service]
ExecStart=/usr/bin/etcd \
  --name etcd{{ IP[0][-1] }} \
  --cert-file=/etc/etcd/kubernetes.pem \
  --key-file=/etc/etcd/kubernetes-key.pem \
  --peer-cert-file=/etc/etcd/kubernetes.pem \
  --peer-key-file=/etc/etcd/kubernetes-key.pem \
  --trusted-ca-file=/etc/etcd/ca.pem \
  --peer-trusted-ca-file=/etc/etcd/ca.pem \
  --peer-client-cert-auth \
  --client-cert-auth \
  --initial-advertise-peer-urls https://{{ IP[0] }}:2380 \
  --listen-peer-urls https://{{ IP[0] }}:2380 \
  --listen-client-urls https://{{ IP[0] }}:2379,http://127.0.0.1:2379 \
  --advertise-client-urls https://{{ IP[0] }}:2379 \
  --initial-cluster-token etcd-cluster-0 \
  --initial-cluster {% for ip in ETCD_NODES %}etcd{{ ip[-1] }}=https://{{ ip }}:2380,{% endfor %} \
  --initial-cluster-state new \
  --data-dir=/var/lib/etcd
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target

