[Unit]
Description=Flanneld overlay address etcd agent
After=network.target
After=network-online.target
Wants=network-online.target
After=etcd.service
Before=docker.service

[Service]
ExecStart=/usr/bin/flanneld \
    --iface={{ flanneld_iface.stdout }} \
    --etcd-endpoints=https://{{ etcd1 }}:2379,https://{{ etcd2 }}:2379,https://{{ etcd3 }}:2379 \
    --etcd-cafile=/etc/kubernetes/ssl/ca.pem \
    --etcd-certfile=/etc/kubernetes/ssl/kubernetes.pem \
    --etcd-keyfile=/etc/kubernetes/ssl/kubernetes-key.pem
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
